#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-frame{
    background: #fff;
    width: 50%;
    height: 90%;
    box-shadow: 0 0 17px #bababa;
    display: flex;
}

.navbar-col-12 col-md-12 col-sm-12 col-lg-12{
    width: 100%;
    height: 100%;

}

.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    background-color: #eee;
}

.row2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}


.form-control {
    display: block;
    width: 60%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.username-input{
    width: 50%;
}

.password-input{
    width: 50%;    
}

.login-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    height: auto;
    background-color: #fff;
}

.submit-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
